.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 48%;
}

.dialogContainer {
    div {
        div {
            max-width: none !important;
        }
    }
}