@mixin displayCenter($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin inputBase {
    width: 100%;
    border: solid 1px #000;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-block: 0.3rem;
}

/****** IMPORT FONT ******/
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-display: swap;
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-display: swap;
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-display: swap;
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-display: swap;
    font-weight: lighter;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-display: swap;
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 100;
}

:root {
    --anthracite: #383e42;
    --white: #ffffff;
    --layoutBackground: #0C6EFD;
    --roboto: 'Roboto';
}

html,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
    align-items: center;
	min-height: 100vh;
}

main {
	max-width: 1500px;
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	height: 100%;
    width: 100%;
}

h1 {
    font-size: 3rem !important;
}

li {
    list-style: none;
}

header {
    color: var(--white);
    background-color: var(--layoutBackground);
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-title {
    margin: 0.5rem;
}

footer {
    color: var(--white);
    background-color: var(--layoutBackground);
    width: 100%;
    display: flex;
    justify-content: center;
}