.viewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    margin-block: 10rem;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--layoutBackground);
    margin-inline: 2rem;
    color: var(--white);
    width: 20rem;
    padding: 1rem;
}